*
!.gitignore
!rilc_16/
!rilc_16/**
!rl_classic_16/
!rl_classic_16/**
!rilc_64/
!rilc_64/**
!rl_classic_64/
!rl_classic_64/**
!rilc_constrained/
!rilc_constrained/**
!rl_classic_constrained/
!rl_classic_constrained/**
!rilc_sea_05/
!rilc_sea_05/**
!sweep/
!sweep/**
!cilc_pretrain/
!cilc_pretrain/**
